<h1> About Me </h1>
<p> My name is Cookie. I was born in Manila in the Philippines, was raised in the mean streets of Vancouver, grew up in the chillaxin island city of Victoria, and now I reside in the historical city of Edinburgh. </p>